#apresentacao{
  width: 90%;
  margin: 0 auto;
}

#apresentacao h2{
  margin-bottom: 30px;
  padding-top: 30px;
}

#apresentacao p{
  text-align: justify;
}

#apresentacao a{
  color: white;
  background: #7b67c7;
  border-radius: 200px;
}

#apresentacao a:hover{
  background: #6d56c1;
}