#footer h2{
  margin-left: 5%;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  margin-bottom: 50px;
}

#footer a{
  text-decoration: none;
  color: white;
}

#footer a:hover{
  text-decoration: none;
}

.col-sm-4{
  padding-left: 5%;
}

#nome, #email, #mensagem{
  padding: 10px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
  width: 50%;
  margin-bottom: 20px;
}

#nome::placeholder{
  color: white;
}

#email::placeholder{
  color: white;
}

#mensagem::placeholder{
  color: white;
}

div.row{
  margin: 0!important;
}

#btn-form{
  width: 50%;
  border-radius: 10px;
  text-transform: uppercase;
}

#btn-form{
  width: 50%;
  border: none!important;
  box-shadow: 0 1px 29px rgba(0,0,0,.56);
  position: relative;
  background: transparent;
}

#btn-form:hover{
  background:#7b67c7!important;
  border: none;
}

.footer-copyright{
  margin-top: 50px;
  color: rgba(230, 230, 230, 0.5);
  margin-left: 49%;
  transform: translateX(-50%);
  margin-bottom: 0px;
}