#ola{
  width: 90%;
  margin: 0 auto;
}

#ola h2{
  margin-bottom: 30px;
  padding-top: 30px;
}

#ola p{
  font-size: 1.2em;
  text-align: justify;
  font-family: 'Maven Pro', sans-serif;
}

#ola a{
  color: white;
  background: #7b67c7;
  border-radius: 200px;
}

#ola a:hover{
  background: #6d56c1;
}